#container-article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 150px;
}

.bground-grey-light {
    background-color: var(--grey-light);
}

.bground-grey-medium {
    background-color: var(--grey-medium);
}

.container-title-times, .container-info {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.container-title-times {
    align-items: center;
}

.container-info {
    font-size: 0.75em;
    height: 120px;
}
.container-ingredients, .recipe-description {
    margin: 0;
    padding: 0;
    max-width: 45%;
    max-height: 100px;
    height: 100%;

}
.recipe-description {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}

.list-recipe {
    display: flow-root;

}

.times-icons {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}