.bg-blue {
    background-color: var(--blue-box);
    color: white;
}

.bg-green {
    background-color: var(--green-box);
    color: white;
}

.bg-red {
    background-color: var(--red-box);
    color: white;
}

.container-items-selected {
    display: flex;
    margin-bottom: 20px;
}

.container-search {
    display: inline-block;
    border-radius: 5px;
    padding: 20px 20px;
    margin: 0 20px 20px 0;
    max-width: 650px;
}
.container-search:hover {
    box-shadow: var(--shadow-box);
}
.item-list {
    display: none;
    max-width: 630px;
    max-height: 320px;
    width:100%;
    height: 100%;
    padding: 0;
}

.item-list.show {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    overflow-y: scroll;

}

.form-search{
    min-width: 130px;
    min-height: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;}

.showView {
    max-width: 670px;
    max-height: 370px;
}

.form-search-container {
    display: flex;
    justify-content: space-between;
    width: 101%;
}

.form-search label {
    text-align: center;
}

.form-search label,
.tag {
    font-weight: 700;
    font-size: 1.125em;
}

.form-search input {
    display: none;
    z-index: 10;
    font-size: 18px;
}

.form-search input::placeholder {
    color: rgba(255, 255, 255, 0.64);
}

.form-search input:focus {
    outline: none
}

.displayLabel {
    display: none;
}

.form-search .label-inactive {
    display: none;
}

.form-search .input-active {
    display: block;
    border: none;
}

#error-message {
    color: var(--red-box);
    padding: 20px 0 0 10px;
}

.select-items {
    padding: 6px;
    min-width: 180px;
    max-width: 195px;
}

/* width */
.item-list::-webkit-scrollbar {
    width: 6px;
}

/* Track */
#list-ingredient::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px 2px #12306CFF;
    border-radius: 10px;
}

/* Handle */
.item-list::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

.button-dropdown-menu {
    width: 20px;
    height: 20px;
    filter: invert(100%);
    transform: rotate(180deg)
}

.button-dropdown-menu.show-active {
    transform: rotate(0deg)
}