@import url("filtres.css");
@import url("cardRecipes.css");
@import url("addListItem.css");

:root {
    --grey-light: #E7E7E7;
    --grey-medium: #C7BEBE;
    --blue-box: #3282F7;
    --green-box: #68D9A4;
    --red-box: #ED6454;
    --shadow-box: -4px 4px 6px rgb(172, 172, 172);
    --gap: 3%;
}

body {
    max-width: 1240px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1em;
}

header {
    width: 100%;
    text-align: center;
}

h1 {
    color: #D04F4F;
    margin-top: 0;
}

h2 {
    max-width: 70%;
    font-weight: 400;
    font-size: 1.325em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
p {
    font-family: "Roboto", serif;
    font-size: 0.70em;
}
article {
    max-width: 380px;
    width: 100%;
    height: 364px;
    border-radius: 5px;
    margin: 20px 0;
    overflow: hidden;
}
article:hover{
    box-shadow: var(--shadow-box);
    cursor: pointer;
}
.article-vide {
    width: 100%;
    height: 50%;
}

#main {
    width: 100%;
}

#search-recipe {
    width: 100%;
    height: 69px;
    border-radius: 5px;
}

#search-recipe:hover,
#search-recipe:focus {
    border-color: var(--red-box);
}

.border-none {
    border: 2px solid transparent;
}

.form-search-principal {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.label-search {
    position: absolute;
    right: 25px;
    top: 30px;
}

#search-icon {
    display: block;
    width: 33px;
    height: 33px;
}

.container-dropdown {
    position: absolute;
    padding: 20px 0 0 10px;
}

.container-times{
    display: flex;
    align-items: center;
}
